/* Styles généraux pour le conteneur */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #fff6e5; /* Couleur sable claire, rappelant les forêts et les champs */
    margin: 0;
    padding: 0;
}

/* Header/Navbar */
.navbar {
    background-color: #f5a623; /* Orange renard */
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #ff8c00; /* Couleur orangée pour rappeler les renards */
    padding: 10px 15px;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.navbar-link:hover {
    background-color: #ffb84d; /* Couleur dorée pour le survol */
    color: #4e4e4e;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles généraux pour le conteneur */
.container {
    width: 80%;
    margin: 20px auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

